tensorflow~=2.21.0
opencv-python~=5.0.0.93
numpy
pandas
matplotlib~=3.11.0
seaborn
scikit-learn
ultralytics~=8.4.116
streamlit~=1.61.1
pillow~=12.2.0
pyyaml
python-dotenv~=1.2.2
sqlalchemy
pytest
plotly
pip~=26.1.2
attrs~=26.1.0
wheel~=0.47.0
protobuf~=7.35.1
tornado~=6.5.7
Jinja2~=3.1.6
setuptools~=84.0.0
packaging~=26.2
pyparsing~=3.3.2
typing_extensions~=4.15.0
roboflow~=1.4.0